.fj-bar {
  display: block;
  background-color: #e4e4e4;
}
.fj-bar.fj-bar-horizontal {
  width: 100%;
  height: 1px;
}
.fj-bar.fj-bar-vertical {
  width: 1px;
  height: 100%;
}
.ball-pulse div {
  background-color: #fff;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  margin: 2px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: inline-block;
}
.ball-pulse div:nth-child(0) {
  -webkit-animation: scale 0.75s -0.36s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
  animation: scale 0.75s -0.36s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
.ball-pulse div:nth-child(1) {
  -webkit-animation: scale 0.75s -0.24s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
  animation: scale 0.75s -0.24s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
.ball-pulse div:nth-child(2) {
  -webkit-animation: scale 0.75s -0.12s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
  animation: scale 0.75s -0.12s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
.ball-pulse div:nth-child(3) {
  -webkit-animation: scale 0.75s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
  animation: scale 0.75s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  45% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.7;
  }
  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  45% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.7;
  }
  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
.fj-user-container {
  position: fixed;
  top: 22px;
  right: 42px;
  z-index: 3;
  height: 0;
}
@media screen and (max-width: 600px) {
  .fj-user-container {
    display: none;
  }
}
.fj-third-button {
  display: block;
  width: 350px;
  margin: 3px auto;
  position: relative;
}
.fj-third-button .fj-third-text {
  font-size: 17px;
}
.fj-third-button .fl-facebook-icon,
.fj-third-button .fl-google-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 28px;
}
.fj-third-button .fl-facebook-icon {
  left: 14px;
}
.fj-third-button .fl-google-icon {
  left: 10px;
}
.fj-third-button.fj-login-gl-btn {
  margin-top: 6px;
}
.fj-login-panel {
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.15);
  width: 442px;
  padding: 20px 0;
}
.fj-login-panel .fj-login-head {
  text-align: center;
}
.fj-login-panel .fj-login-head .fj-login-head__desc {
  font-size: 15px;
  margin-top: 10px;
}
.fj-login-panel .fj-login-head .fj-login-head__desc .fj-login-head__desc-sign {
  text-decoration: underline;
  transition: all, 0.3s;
}
.fj-login-panel .fj-login-head .fj-login-head__desc .fj-login-head__desc-sign:hover {
  cursor: pointer;
}
.fj-login-panel .fj-bar {
  margin: 20px 0;
}
.fj-login-panel .fj-or {
  margin: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fj-login-panel .fj-or .fj-or-text {
  color: #CFD1D4;
  font-style: italic;
  font-size: 18px;
  margin: 0 8px;
}
.fj-login-panel .fj-or i {
  width: 16px;
  height: 1px;
  background-color: #e4e4e4;
  display: block;
  margin-top: 4px;
}
.fj-login-panel .fj-sign-inputs,
.fj-login-panel .fj-login-inputs {
  width: 350px;
  margin: auto;
}
.fj-login-panel .fj-login-policy {
  margin: 30px auto 0;
  text-align: center;
  width: 350px;
  font-size: 14px;
  line-height: 20px;
  color: #a2a2a2;
  padding-left: 3px;
}
.fj-login-panel .fj-login-policy a {
  color: #a2a2a2;
  transition: all 0.3s;
  text-decoration: underline !important;
}
.fj-login-remember {
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6px auto 22px;
}
.fj-login-remember .fj-login-remember-check,
.fj-login-remember .fj-login-forgot-password {
  font-size: 15px;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  margin: 0px;
}
.fj-login-remember .fj-login-remember-check .fj-check-box,
.fj-login-remember .fj-login-forgot-password .fj-check-box,
.fj-login-remember .fj-login-remember-check .fj-check-label,
.fj-login-remember .fj-login-forgot-password .fj-check-label {
  transition: all 0.3s;
  display: inline-block;
}
.fj-login-remember .fj-login-remember-check:hover,
.fj-login-remember .fj-login-forgot-password:hover {
  cursor: pointer;
}
.fj-login-remember .fj-login-remember-check .fj-check-box,
.fj-login-remember .fj-login-forgot-password .fj-check-box {
  margin-right: 5px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 4px;
  background: #E5E7EB;
}
.fj-login-remember .fj-login-remember-check.fj-checked .fj-check-box > img {
  vertical-align: inherit;
}
.fj-login-remember .fj-login-forgot-password {
  text-decoration: underline !important;
}
.fj-modal {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  align-items: center;
  justify-content: center;
  overflow: auto;
}
.fj-modal * {
  box-sizing: border-box !important;
}
.fj-modal .mask {
  background-color: rgba(0, 0, 0, 0.78);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  outline: 0;
}
.fj-modal .wrap {
  position: relative;
  width: max-content;
}
.fj-modal .wrap .close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  position: absolute;
  top: -30px;
  right: -30px;
  opacity: 1;
}
.fj-modal .wrap .close:hover {
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  animation: rotateCloseHover 0.3s;
  -moz-animation: rotateCloseHover 0.3s;
  /* Firefox */
  -webkit-animation: rotateCloseHover 0.3s;
  /* Safari and Chrome */
  -o-animation: rotateCloseHover 0.3s;
  /* Opera */
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}
.fj-modal .wrap .close > img {
  position: absolute;
  width: 12px;
  height: 12px;
}
@media screen and (max-height: 670px) {
  .fj-modal .wrap .close {
    top: 0;
    right: -40px;
  }
}
.fj-box-button {
  min-width: 100px;
  height: 40px;
  margin-right: 10px;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  line-height: 40px;
  background: transparent;
  color: #17191D;
  text-decoration: none !important;
  border: 1px solid #E1E6E6;
  border-radius: 100px;
  transition: all 0.3s;
  display: inline-block;
  box-shadow: 0 1px 6px 0 rgba(72, 134, 255, 0.05);
}
.fj-box-button:hover {
  cursor: pointer;
}
.fj-box-button span {
  height: 18px;
  width: 38px;
  color: #1E2832;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
}
.fj-box-button.fj-btn-signin:hover {
  background: #E1E6E6;
  color: #000000;
}
.fj-box-button.fj-btn-signup {
  text-decoration: none !important;
  padding: 0 10px;
}
.fj-box-button.fj-btn-signup:hover {
  color: #fff;
}
.fj-box-button.fj-btn-signup:hover span {
  color: #ffffff;
}
.fj-button {
  height: 42px;
  background-color: white;
  padding: 0 20px;
  border-radius: 100px;
  outline: none !important;
  border: none;
  overflow: hidden;
  position: relative;
  transition: all 0.3s;
}
.fj-button .fj-third-text {
  font-size: 16px;
  color: #FFFFFF;
}
.fj-button:hover {
  cursor: pointer;
}
.fj-button.fj-button_default {
  border: 1px solid #DFE0E2;
  background-color: #FFFFFF;
}
.fj-button.fj-button_default:hover {
  background-color: #DFE0E2;
}
.fj-button.fj_button_loading.fj_loading_third {
  background: #DFE0E2;
}
.fj-login-input {
  min-height: 60px;
  position: relative;
}
.fj-login-input svg {
  position: relative;
  left: 0;
  bottom: -6px;
}
.fj-login-input input {
  width: 320px !important;
  height: 34px;
  font-size: 16px;
  line-height: 18px;
  padding-left: 4px;
  border: none;
  outline: none;
}
.fj-login-input input::placeholder {
  color: #BBBBBB;
}
.fj-login-input .fj-login-input-border {
  width: 100%;
  height: 1px;
  background-color: #DDDDDD;
}
.fj-login-input .fj-login-input-err {
  width: 100%;
  font-size: 13px;
  color: #E00000;
  line-height: 16px!important;
  margin-top: 10px;
  text-align: left;
  float: left;
}
/*
  关闭按钮旋转
*/
.u-close-hover {
  animation: rotateCloseHover 0.3s;
  -moz-animation: rotateCloseHover 0.3s;
  /* Firefox */
  -webkit-animation: rotateCloseHover 0.3s;
  /* Safari and Chrome */
  -o-animation: rotateCloseHover 0.3s;
  /* Opera */
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}
.u-close-leave {
  animation: rotateCloseLeave 0.3s;
  -moz-animation: rotateCloseLeave 0.3s;
  /* Firefox */
  -webkit-animation: rotateCloseLeave 0.3s;
  /* Safari and Chrome */
  -o-animation: rotateCloseLeave 0.3s;
  /* Opera */
  -webkit-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
}
@-webkit-keyframes rotateCloseHover {
  0% {
    -webkit-transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(90deg);
  }
}
@keyframes rotateCloseHover {
  0% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
  }
}
@-webkit-keyframes rotateCloseLeave {
  0% {
    -webkit-transform: rotateZ(90deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
  }
}
@keyframes rotateCloseLeave {
  0% {
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
}
.u-rotate-btn-loading {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-animation: play 1s linear infinite;
  animation: play 1s linear infinite;
}
.u-refresh {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
  cursor: pointer;
  display: none;
}
.u-refresh.active path {
  fill: #c6c6c6 !important;
}
.u-refresh:hover path {
  fill: #44c4e7;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeOutDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@keyframes fadeOutDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@-webkit-keyframes fadeInUpLogin {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeInUpLogin {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeOutDownLogin {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@keyframes fadeOutDownLogin {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@media screen and (max-height: 768px) {
  .fj-modal .wrap {
    position: relative;
    width: max-content;
    margin-top: 60px;
  }
  .fj-modal .fj-login-panel .fj-or {
    margin: 8px 0;
  }
  .fj-modal .fj-login-panel .fj-login-policy {
    margin-top: 14px;
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=base.css.map */
/**
 * 颜色
 */
.bounce-enter-active {
  animation: bounce-in 0.15s;
}
.bounce-leave-active {
  animation: bounce-in 0.15s reverse;
}
@keyframes bounce-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fj-login-panel {
  background-color: #FFFFFF;
  border-radius: 2px;
}
.fj-login-panel .fj-login-head .fj-login-head__title {
  color: #1E2832;
  font-size: 24px;
}
.fj-login-panel .fj-login-head .fj-login-head__desc {
  color: #BBBBBB;
}
.fj-login-panel .fj-login-head .fj-login-head__desc .fj-login-head__desc-sign {
  color: #ff446b;
}
.fj-login-panel .fj-login-head .fj-login-head__desc .fj-login-head__desc-sign:hover {
  color: #E6375C;
}
.fj-login-panel .fj-login-policy a:hover {
  color: #ff446b;
}
#logged {
  position: relative;
}
.fj-login-remember .fj-login-remember-check,
.fj-login-remember .fj-login-forgot-password {
  color: #1E2832;
}
.fj-login-remember .fj-login-remember-check:hover,
.fj-login-remember .fj-login-forgot-password:hover {
  cursor: pointer;
}
.fj-login-remember .fj-login-remember-check:hover .fj-check-box,
.fj-login-remember .fj-login-forgot-password:hover .fj-check-box {
  background-color: #ff446b;
}
.fj-login-remember .fj-login-remember-check:hover .fj-check-label,
.fj-login-remember .fj-login-forgot-password:hover .fj-check-label {
  color: #ff446b;
}
.fj-login-remember .fj-login-remember-check.fj-checked .fj-check-box {
  background-color: #ff446b;
}
.fj-login-remember .fj-login-forgot-password:hover {
  color: #ff446b;
}
.fj-box-button {
  padding: 0 20px;
  margin-top: 9px;
}
.fj-box-button:hover {
  color: #fff;
  background-color: #ff446b;
}
.fj-box-button.fj-btn-signup {
  min-width: 125px;
  color: #ff446b;
  border: 1px solid #ff446b !important;
}
.fj-box-button.fj-btn-signup:hover {
  background: #ff446b;
}
.fj-box-button.fj-btn-signup span {
  color: #ff446b;
}
.fj-button.fj-button_primary {
  background-color: #ff446b;
}
.fj-button.fj-button_primary:hover {
  background-color: #E6375C;
}
.fj-button.fj_button_loading {
  background: #E6375C;
}
.fj-login-input input {
  width: 100%;
  color: #1E2832;
}
.fj-login-input .fj-login-input-err {
  margin-top: 10px;
}
.fj-third-button .fj-third-text {
  color: #1E2832;
}
#login-module {
  position: initial !important;
}
#login-module .fj-user-container {
  top: 12px;
  right: 18px;
}
#login-module {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99;
  font-family: Roboto;
}
#logged .user-avatar {
  position: relative;
  float: right;
  font-size: 13px;
}
#logged .user-avatar img {
  border-radius: 100%;
  width: 37px;
  height: 37px;
  text-align: center;
  float: right;
  margin-top: 12px;
  margin-right: 2px;
}
#logged .fj-user {
  background: 0 0;
}
#logged .fj-user > div {
  content: ' ';
  float: right;
  margin-left: 2px;
  margin-top: 29px;
  width: 0;
  border: 6px solid transparent;
  border-top-color: #9d9ea2;
  border-top-width: 7px;
}
#logged .fj-user-btn {
  height: 50px;
  border: 0;
  outline: none;
  cursor: pointer;
}
#logged .fj-username {
  max-width: 90px;
  height: 24px;
  float: right;
  margin-right: 5px;
  margin-top: 24px;
  color: #9d9ea2;
  background: 0 0;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  font-size: 14px!important;
}
#logged .fj-profile-drop-menu {
  width: 235px;
  position: absolute;
  top: 65px;
  right: -10px;
  z-index: 2000;
  float: right;
  min-width: 160px;
  padding: 4px 0;
  margin: 0;
  list-style: none;
  border: none;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border-radius: 4px;
  background: #fff;
  box-shadow: 2px 5px 10px 0 rgba(0, 0, 0, 0.32);
}
#logged .fj-profile-drop-menu .fj-profile-userinfo {
  height: 78px;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#logged .fj-profile-drop-menu .fj-profile-userinfo .user-img {
  width: 52px;
  height: 52px;
  float: left;
}
#logged .fj-profile-drop-menu .fj-profile-userinfo .user-img img {
  width: 52px;
  height: 52px;
  margin: 0;
  float: left;
}
#logged .fj-profile-drop-menu .fj-profile-userinfo .user-policy-wrapper {
  width: 140px;
  margin-left: 10px;
  float: left;
  cursor: pointer;
}
#logged .fj-profile-drop-menu .fj-profile-userinfo .user-policy-wrapper .user-name {
  height: 18px;
  font-size: 15px;
  font-weight: 400;
  color: #1e2832;
  line-height: 18px;
  margin-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;
}
#logged .fj-profile-drop-menu .fj-profile-userinfo .user-policy-wrapper .user-policy {
  width: auto;
  text-align: center;
  margin-top: 6px;
  color: #00D299;
  padding: 0 10px;
  transition: 0.3s;
  font-weight: 500;
  border: 1px solid #13D2B8;
  display: inline-block;
  height: 26px;
  font-size: 13px;
  line-height: 26px;
  border-radius: 12px;
}
#logged .fj-profile-drop-menu .fj-profile-userinfo .user-policy-wrapper .user-policy.policy-upgrade {
  background: #00D299;
  color: #fff;
  position: relative;
  height: 24px;
  border-radius: 12px;
  text-align: center;
  line-height: 24px;
  padding: 0;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}
#logged .fj-profile-drop-menu .fj-profile-userinfo .user-policy-wrapper .user-policy.policy-upgrade:hover {
  background: #00BC89;
}
#logged .fj-profile-drop-menu .fj-profile-userinfo .user-policy-wrapper .user-policy.policy-upgrade svg {
  position: absolute;
  right: 2px;
  bottom: -4px;
  width: 40px;
}
#logged .fj-profile-drop-menu .fj-profile-userinfo .user-policy-wrapper .user-policy.policy-info {
  color: #00D299;
  text-align: left;
}
#logged .fj-profile-drop-menu .fj-profile-userinfo .user-policy-wrapper .user-policy.policy-info:hover {
  background: #13D2B8;
  color: #ffffff;
}
#logged .fj-profile-drop-menu .fj-profile-border {
  width: 100%;
  height: 1px;
  margin-top: 8px;
  margin-bottom: 3px;
  background: #dadbdd;
}
#logged .fj-profile-drop-menu li {
  height: 38px;
  font-size: 16px;
  color: #1E2832;
}
#logged .fj-profile-drop-menu li a {
  font-size: 14px;
  line-height: 30px;
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  color: #343c49;
  white-space: nowrap;
  text-decoration: none!important;
  cursor: pointer;
  font-family: Roboto;
  font-size: 16px;
  color: #1E2832;
}
#logged .fj-profile-drop-menu li a:hover {
  background-color: #efefef;
}
#logged .userGroup:hover .fj-profile-drop-menu {
  /*animation-name: fadeInUp;*/
}
.drop-enter-active {
  animation: fadeInUpLogin 0.5s;
}
.drop-leave-active {
  animation: fadeOutDownLogin 0.5s;
}
.fj-sub-modal-change-card .fj-sub-mask,
.fj-sub-modal-change-card .fj-sub-body {
  z-index: 2000 !important;
}
/*# sourceMappingURL=overwrite.css.map */
/**
 * 颜色
 */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
[v-cloak] {
  display: none;
}
.app_survey {
  display: table;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  background: rgba(0, 0, 0, 0.78);
  z-index: 20;
}
.app_survey .survey-container {
  display: table-cell;
  vertical-align: middle;
}
.app_survey * {
  box-sizing: border-box;
  line-height: 1.5;
  transition: none;
  font-family: Roboto !important;
}
.app_survey::after {
  box-sizing: border-box;
  line-height: 1.5;
  transition: none;
  font-family: Roboto !important;
}
.app_survey::before {
  box-sizing: border-box;
  line-height: 1.5;
  transition: none;
  font-family: Roboto !important;
}
.app_survey svg {
  overflow: hidden;
  vertical-align: middle;
}
.app_survey .survey-box {
  margin: auto;
  background-color: #FFFFFF;
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.15);
  padding: 40px;
  position: relative;
  box-sizing: border-box;
  width: 785px;
  height: 527px;
}
.app_survey .survey-box .survey-question {
  margin-top: 55px;
}
.app_survey .survey-box .survey-answer .answer-item {
  height: 120px;
  width: 160px;
  margin-right: 20px;
}
.app_survey .survey-box .survey-answer .answer-item:nth-child(4n) {
  margin-right: 0;
}
.app_survey .survey-box .survey-answer .answer-item .icon {
  height: 48px;
  width: 48px;
  margin-top: 18px;
  margin-bottom: 10px;
}
.app_survey .survey-box .survey-answer .answer-item .icon svg {
  max-width: 46px;
  max-height: 46px;
}
.app_survey .survey-box .survey-answer .answer-item .name {
  margin-top: 5px;
  line-height: 1;
}
.app_survey .survey-box .email-confirm {
  height: 320px;
  width: 700px;
  border: 1px solid #EBECF0;
  border-radius: 2px;
  background-color: #FCFCFC;
  margin-top: 43px;
  padding-top: 28px;
}
.app_survey .survey-box .email-confirm .title {
  margin-bottom: 15px;
  color: #1E2832;
}
.app_survey .survey-box .email-confirm .desc {
  width: 550px;
  margin-bottom: 30px;
  color: #1E2832;
}
.app_survey .survey-box-title {
  height: 32px;
  width: 700px;
  color: #404040;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
}
.app_survey .survey-box-sub-title {
  height: 18px;
  width: 100%;
  color: #6A6E79;
  font-family: Roboto;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  margin-top: 12px;
}
.app_survey .box-close {
  width: 30px;
  height: 30px;
  position: absolute;
  right: -30px;
  top: -30px;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.15);
}
.app_survey .box-close:hover {
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  animation: rotateCloseHover 0.3s;
  -moz-animation: rotateCloseHover 0.3s;
  /* Firefox */
  -webkit-animation: rotateCloseHover 0.3s;
  /* Safari and Chrome */
  -o-animation: rotateCloseHover 0.3s;
  /* Opera */
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}
.app_survey .box-close svg {
  position: absolute;
  width: 12px;
  height: 12px;
  left: 9px;
  top: 9px;
}
.app_survey .box-close svg g {
  fill: #D8D8D8;
}
.app_survey .back-btn {
  position: absolute;
  width: 100px;
  height: 20px;
  top: 25px;
  cursor: pointer;
}
.app_survey .back-btn .icon {
  height: 16px;
  width: 15px;
  float: left;
  margin-right: 10px;
}
.app_survey .back-btn .txt {
  height: 20px;
  color: #6A6E79;
  font-family: Roboto;
  font-size: 17px;
  line-height: 24px;
  cursor: pointer;
}
.app_survey .back-btn:hover .icon g {
  fill: #D9471E;
}
.app_survey .back-btn:hover .txt {
  color: #E6375C;
}
.app_survey .steps {
  width: 312px;
  height: 22px;
  margin: auto;
  margin-top: 24.5px;
}
.app_survey .steps .step-item {
  float: left;
}
.app_survey .steps .step-item.step-point {
  width: 22px;
  height: 22px;
  border-radius: 22px;
  border: 1px solid #D3D5D8;
  background-color: #FFFFFF;
  position: relative;
}
.app_survey .steps .step-item.step-point .step-name {
  position: absolute;
  top: 21px;
  width: 80px;
  left: -30px;
  text-align: center;
  color: #CFD1D4;
  font-family: Roboto;
  font-size: 15px;
}
.app_survey .steps .step-item.step-point svg {
  position: relative;
  left: 4px;
  top: -2px;
}
.app_survey .steps .step-item.step-point svg path {
  fill: #fff;
}
.app_survey .steps .step-item.step-point.active0 {
  border-color: #ff446b;
}
.app_survey .steps .step-item.step-point.active0 .step-name {
  color: #ff446b;
}
.app_survey .steps .step-item.step-point.active0 svg path {
  fill: #ff446b;
}
.app_survey .steps .step-item.step-point.active {
  background-color: #ff446b;
  border-color: #ff446b;
}
.app_survey .steps .step-item.step-point.active .step-name {
  color: #ff446b;
}
.app_survey .steps .step-item.step-border {
  height: 1px;
  width: 120px;
  background-color: #D3D5D8;
  margin-top: 11px;
}
.app_survey .steps .step-item.step-border .border-inner {
  height: 100%;
  width: 0;
  background: #EE5C33;
}
.app_survey .steps .step-item.step-border .border-inner.active {
  width: 100%;
}
.app_survey .steps.step1-step2-next .step-border01 .border-inner {
  transition: width 0.2s;
}
.app_survey .steps.step1-step2-next .step-point02 {
  transition: border-color 0.2s;
  transition-delay: 0.2s;
}
.app_survey .steps.step1-step2-next .step-point02 .step-name {
  transition: color 0.2s;
  transition-delay: 0.2s;
}
.app_survey .steps.step1-step2-next .step-point02 svg g {
  transition-delay: 0.2s !important;
  transition-delay: 0.2s;
  transition: fill 0.2s;
}
.app_survey .steps.step2-step3-next .step-border02 .border-inner {
  transition: width 0.2s;
}
.app_survey .steps.step2-step3-next .step-point03 {
  transition: border-color 0.2s, background-color 0.2s;
  transition-delay: 0.2s;
}
.app_survey .steps.step2-step3-next .step-point03 .step-name {
  transition: color 0.2s;
  transition-delay: 0.2s;
}
.app_survey .steps.step2-step3-next .step-point03 svg g {
  transition-delay: 0.2s !important;
  transition-delay: 0.2s;
  transition: fill 0.2s;
}
.app_survey .steps.step3-step2-prev .step-border02 .border-inner {
  transition: width 0.2s;
}
.app_survey .steps.step3-step2-prev .step-point02 {
  transition: border-color 0.5s, background-color 0.2s;
  transition-delay: 0.2s;
}
.app_survey .steps.step3-step2-prev .step-point02 .step-name {
  transition: color 0.2s;
  transition-delay: 0.2s;
}
.app_survey .steps.step3-step2-prev .step-point02 svg g {
  transition-delay: 0.2s !important;
  transition-delay: 0.2s;
  transition: fill 0.2s;
}
.app_survey .steps.step2-step1-prev .step-border02 .border-inner {
  transition: width 0.2s;
}
.app_survey .steps.step2-step1-prev .step-point01 {
  transition: border-color 0.2s, background-color 0.2s;
  transition-delay: 0.2s;
}
.app_survey .steps.step2-step1-prev .step-point01 .step-name {
  transition: color 0.2s;
  transition-delay: 0.2s;
}
.app_survey .steps.step2-step1-prev .step-point01 svg g {
  transition-delay: 0.2s !important;
  transition-delay: 0.2s;
  transition: fill 0.2s;
}
.app_survey .survey-question {
  height: 20px;
  width: 100%;
  color: #404040;
  font-family: Roboto;
  font-size: 18px;
  line-height: 20px;
  margin-top: 58px;
  font-weight: 500;
}
.app_survey .survey-answer {
  animation: fadeIn 0.8s;
  position: relative;
  top: 20px;
}
.app_survey .survey-answer .answer-item {
  width: 160px;
  height: 160px;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  box-sizing: border-box;
}
.app_survey .survey-answer .answer-item:nth-child(4n) {
  margin-right: 0;
}
.app_survey .survey-answer .answer-item .icon {
  height: 48px;
  width: 52px;
  margin: auto;
  margin-top: 30px;
}
.app_survey .survey-answer .answer-item .name {
  width: 140px;
  margin: auto;
  margin-top: 24px;
  text-align: center;
  font-size: 15px;
  line-height: 1.5;
  color: #404040;
}
.app_survey .survey-answer .answer-item:hover {
  border-color: #ff446b;
}
.app_survey .survey-answer .answer-item:hover .icon path {
  fill: #EE5C33;
}
.app_survey .survey-answer .answer-item:hover .icon rect {
  fill: #EE5C33;
}
.app_survey .survey-answer .answer-item:hover .name {
  color: #ff446b;
}
.app_survey .other {
  height: 292px;
  margin-top: 88px;
  animation: fadeIn 1s;
}
.app_survey .other .input {
  width: 98%;
  height: 20px;
  color: #1E2832;
  font-family: Roboto;
  font-size: 17px;
  line-height: 20px;
  border: none;
  outline: none;
  float: left;
}
.app_survey .other .icon-delete {
  float: left;
  height: 20px;
  cursor: pointer;
}
.app_survey .other .icon-delete svg g {
  fill: #404040;
  opacity: 0.5;
}
.app_survey .other .icon-delete:hover svg g {
  fill: #404040;
  opacity: 0.7;
}
.app_survey .other .input-border {
  float: left;
  width: 100%;
  height: 1px;
  background: #CFD1D4;
  margin-top: 10px;
}
.app_survey .other .btn {
  position: absolute;
  width: 190px;
  height: 40px;
  border-radius: 4px;
  padding: 0 10px;
  background: #EE5C33 !important;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  line-height: 40px;
  text-align: center;
  margin: auto;
  bottom: 95px;
  left: 0;
  right: 0;
}
.app_survey .email-confirm {
  height: 292px;
  margin-top: 89px;
  animation: fadeIn 1s;
}
.app_survey .email-confirm .icon {
  width: 86px;
  height: 86px;
  margin: auto;
}
.app_survey .email-confirm .title {
  color: #52bf8a;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  line-height: 24px;
  margin-bottom: 30px;
  margin-top: 12px;
}
.app_survey .email-confirm .desc {
  font-size: 15px;
  font-weight: normal;
  line-height: 25px;
  width: 442px;
  margin: 0 auto 44px auto;
  display: block;
  text-align: center;
  color: #686c78;
}
.app_survey .email-confirm .confirm-btn {
  width: 190px;
  height: 40px;
  border-radius: 4px;
  padding: 0 10px;
  background: #EE5C33;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  line-height: 40px;
  text-align: center;
  margin: auto;
}
.app_survey .email-confirm .confirm-btn:hover {
  background: #D9471E;
}
.app_survey .fadeOut1s {
  animation: fadeOut 1s;
}
.animated {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
/*# sourceMappingURL=survey.css.map */
