/**
 * 颜色
 */
/**
尺寸
 */
/**
*形状
 */
.m-header {
  width: 100%;
  height: 80px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  position: fixed;
  top: 0;
  z-index: 2;
}
.m-header .m-header__logo-container {
  width: 178px;
  height: 100%;
  margin-left: 54px;
  position: relative;
}
.m-header .m-header__logo-container .m-header__logo {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
}
.menu-box {
  float: left;
  display: flex;
  margin-left: 35px;
}
.menu-box .menu-item {
  display: block;
  padding: 30px 0;
}
.menu-box .menu-item .menu-item-text {
  margin: 0 15px;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  color: #1A1B1D;
}
.menu-box .menu-item .menu-item-text .menu-item-icon {
  display: unset;
}
.menu-box .menu-item .menu-item-text .menu-item-icon svg {
  position: relative;
  margin-bottom: 2px;
}
.menu-box .menu-item .menu-item-text:hover {
  color: #E6375C;
}
.menu-box .menu-item .menu-item-text:hover .menu-item-icon svg {
  transform: rotate(180deg);
}
.menu-box .menu-item .menu-item-text:hover .menu-item-icon svg polygon {
  fill: #E6375C;
}
.menu-box .menu-item .menu-dropdown {
  position: fixed;
  left: 0;
  top: 80px;
  width: 100%;
  background: #FFFFFF;
  visibility: hidden;
  transition: visibility 0.1s;
}
.menu-box .menu-item .menu-dropdown .menu-screen-container {
  display: flex;
  margin-top: 30px;
  margin-left: 283px;
  padding-bottom: 40px;
}
.menu-box .menu-item .menu-dropdown .menu-screen-container .screen-container-item {
  margin-right: 83px;
}
.menu-box .menu-item .menu-dropdown .menu-screen-container .screen-container-item:last-child {
  margin-right: 0;
}
.menu-box .menu-item .menu-dropdown .menu-screen-container .screen-container-item .screen-container-item-title {
  height: 24px;
  font-size: 18px;
  font-weight: bold;
  color: #1A1B1D;
  line-height: 24px;
  margin-bottom: 22px;
}
.menu-box .menu-item .menu-dropdown .menu-screen-container .screen-container-item .screen-container-item-panel li {
  display: flex;
}
.menu-box .menu-item .menu-dropdown .menu-screen-container .screen-container-item .screen-container-item-panel li svg {
  margin-top: 10px;
  transition: color 0.3s;
}
.menu-box .menu-item .menu-dropdown .menu-screen-container .screen-container-item .screen-container-item-panel li a {
  font-size: 15px;
  font-weight: 400;
  color: #1A1B1D;
  line-height: 40px;
  margin: 0 0 0 10px;
  transition: color 0.3s;
}
.menu-box .menu-item .menu-dropdown .menu-screen-container .screen-container-item .screen-container-item-panel li:hover svg g path {
  fill: #FF446B;
}
.menu-box .menu-item .menu-dropdown .menu-screen-container .screen-container-item .screen-container-item-panel li:hover a {
  color: #FF446B;
  text-decoration: underline;
}
.menu-box .menu-item:hover .menu-item-text {
  color: #E6375C;
}
.menu-box .menu-item:hover .menu-item-text .menu-item-icon svg {
  transform: rotate(180deg);
}
.menu-box .menu-item:hover .menu-item-text .menu-item-icon svg polygon {
  fill: #E6375C;
}
.menu-box .menu-item:hover .menu-dropdown {
  visibility: visible;
}
.mobile-btn {
  display: none;
  position: absolute;
  right: 23px;
  top: 30px;
}
.mobile-line {
  display: none;
}
.mobile-login-box {
  display: none;
}
@media screen and (max-width: 414px) {
  .m-header .m-header__logo-container {
    width: 140px;
    margin-left: calc(50% - 70px);
  }
}
/*# sourceMappingURL=header.css.map */
