/**
 * 颜色
 */
/**
尺寸
 */
/**
*形状
 */
/*
样式重置
 */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
  font-family: roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  background: #fff;
}
main {
  flex: 1;
}
* {
  -webkit-text-size-adjust: none;
  box-sizing: border-box;
}
li {
  list-style: none;
}
input::-ms-clear {
  display: none;
}
input::-ms-reveal {
  display: none;
}
input::-o-clear {
  display: none;
}
/**
公共的类
 */
.u-link {
  color: #ff446b;
  transition: all 0.3s;
}
.u-link:hover {
  color: #E6375C;
  text-decoration: underline;
}
.u-left {
  float: left;
}
.u-right {
  float: right;
}
.u-clearfix::after,
.u-clearFix::before {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
a {
  text-decoration: none;
}
.u-btn {
  padding: 0 50px;
  min-height: 80px;
  min-width: 260px;
  font-size: 22px;
  display: inline-block;
  text-align: center;
  line-height: 80px;
  transition: all 0.3s;
  font-weight: 500;
}
.u-hover-pointer {
  cursor: pointer;
}
.u-primary-btn {
  padding: 0 50px;
  min-height: 80px;
  min-width: 260px;
  font-size: 22px;
  display: inline-block;
  text-align: center;
  line-height: 80px;
  transition: all 0.3s;
  font-weight: 500;
  color: #F9F9FD;
  background-color: #ff446b;
  border-radius: 40px;
  box-shadow: 0 10px 20px 0 #ffaeaf;
}
.u-primary-btn:hover {
  cursor: pointer;
  background-color: #E6375C;
}
.u-default-btn {
  padding: 0 40px;
  height: 60px;
  font-size: 19px;
  display: inline-block;
  text-align: center;
  line-height: 60px;
  transition: all 0.3s;
  color: #1E2832;
  background-color: #F0F0F0;
  border: 1px solid #D8D5D5;
  border-radius: 8px;
}
.u-default-btn:hover {
  cursor: pointer;
  background-color: #FFFFFF;
}
.u-cancel-btn {
  display: inline-block;
  text-align: center;
  transition: all 0.3s;
  font-size: 17px;
  color: #1E2832;
  background-color: #fff;
  padding: 0 20px;
  border-radius: 4px;
  min-width: 160px;
  height: 42px;
  line-height: 42px;
  border: 1px solid #e4e4e4;
}
.u-cancel-btn:hover {
  background-color: #e4e4e4;
}
.u-auto-margin {
  margin: auto;
}
.u-content {
  width: 80%;
  max-width: 1258px;
  margin: auto;
  position: relative;
}
.u-max-width-1000 {
  max-width: 1000px;
}
.u-h3 {
  color: #1E2832;
  font-family: Roboto;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}
.u-center-absolute {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.u-ctn {
  display: flex;
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  flex-wrap: wrap;
  align-items: flex-start;
}
@media (min-width: 960px) {
  .u-ctn {
    flex-wrap: nowrap;
  }
}
.u-ctn--1200 {
  width: 75em;
}
.u-ctn--1000 {
  width: 62.5em;
}
.u-ctn--800 {
  width: 50em;
}
.u-float_clr {
  clear: both;
}
/**
 * 通用button样式
 */
.u-main-btn {
  font-size: 19px;
  color: #F9F9FD;
  text-align: center;
  text-decoration: none;
  background-color: #EE5C33;
  border-radius: 100px;
  box-shadow: 0 6px 12px 0 rgba(236, 90, 49, 0.2);
}
/**
 * 通用文字样式
 */
.u-h1 {
  font-size: 50px;
  font-weight: bold;
  color: #1E2832;
}
.u-h1-p {
  font-size: 19px;
  color: #1E2832;
}
.u-h3 {
  font-size: 36px;
  color: #1E2832;
  font-weight: bold;
  text-align: center;
}
.u-banner-title {
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 42px;
  font-weight: bold;
  line-height: 64px;
  text-align: center;
}
.u-h4 {
  font-size: 18px;
  font-weight: bold;
  color: #1E2832;
}
.u-h4-p {
  font-size: 16px;
  color: #1E2832;
}
.u-column-count-3 {
  column-count: 3;
}
.u-column-count-4 {
  column-count: 4;
}
ul,
li,
p,
div,
ol,
dl,
span,
input,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
}
.atss {
  z-index: 0 !important;
}
.f_lft {
  float: left;
}
.f_rgt {
  float: right;
}
.f_clr {
  clear: both;
}
.ctn_1200 {
  width: 75em;
  margin: 0 auto;
}
.ctn_1000 {
  width: 62.5em;
  margin: 0 auto;
}
.padding_top_120 {
  padding-top: 7.5em;
}
.padding_btm_120 {
  padding-bottom: 7.5em;
}
.padding_top_btm_120 {
  padding-top: 7.5em;
  padding-bottom: 7.5em;
}
.padding_top_200 {
  padding-top: 12.5em;
}
.padding_btm_105 {
  padding-bottom: 5.975em;
}
.padding_top_110 {
  padding-top: 6.875em;
}
.padding_top_248 {
  padding-top: 15.5em;
}
.padding_top_188 {
  padding-top: 11.75em;
}
.padding_top_btm_90 {
  padding-top: 5.625em;
  padding-bottom: 5.625em;
}
.padding_145_90 {
  padding: 9.062em 0 5.625em;
}
.padding_140_130 {
  padding: 8em 0 8.125em;
}
.h3_42 {
  font-size: 2.625em;
  font-weight: 400;
}
.align_center {
  text-align: center;
}
.color_fff {
  color: #fff;
}
.color_404040 {
  color: #1E2832;
}
.bg_f8_border_ee {
  background: #F7F8FA;
}
.bg_f8_top_ee {
  background: #f5f5f5;
}
.h_50 {
  color: #FFFFFF;
}
.line_800 {
  border-top: 1px dashed #bfbfbf;
  height: 0;
  margin: 4.5em 0;
}
.bg_4fc5b2 {
  background: #4fc5b2;
}
.bg_fff {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.addthis-smartlayers-mobile {
  z-index: 9;
}
.common-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}
.common-width {
  width: 1100px;
  margin: auto;
}
@media screen and (max-width: 1100px) {
  .common-width {
    width: 90%;
  }
}
@media screen and (max-width: 992px) {
  .u-primary-btn {
    height: 60px;
    line-height: 60px;
    padding: 0 30px;
    border-radius: 30px;
    font-size: 18px;
    min-width: fit-content;
    min-height: fit-content;
  }
}
@media screen and (max-width: 640px) {
  .common-title {
    line-height: 30px;
    font-size: 30px;
  }
  .common-padding {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .u-primary-btn {
    margin-top: 20px;
    height: 60px;
    line-height: 60px;
    padding: 0 30px;
    font-size: 20px;
  }
}
body {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}
/*# sourceMappingURL=template.css.map */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: url("/templates/site/fonts/robotoslab-regular.woff") format('truetype');
  	font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    src: url("/templates/site/fonts/robotoslab-bold.woff") format('truetype');
  	font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url("/templates/site/fonts/Roboto-Regular.woff") format('truetype');
  	font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url("/templates/site/fonts/Roboto-Medium.woff") format('truetype');
  	font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url("/templates/site/fonts/Roboto-Bold.woff") format('truetype');
  	font-display: swap;
}


